.NavBar {
	display: block;
	list-style-type: none;
	margin: 0;
	border-bottom: 2px black solid;
	padding: 0;
	transition: padding 3s;
	overflow: hidden;
	background:rgba(80,137,145,.75);
	width: 100%;
	top: 0;
	z-index: 1;
	position: fixed;

}
.NavLinkContainer {
	float: left;
}

.NavIcons {
	margin: 0;
	padding: 0;
}

.NavIcons a {
	float: right;
	padding: 12px;
	color: white;
	transition: .5s;
}

.NavIcons a:hover {
	background-color: white;
	color: black;
	font-size: 200%;
	transition: .5s;
}
.spacer {
	clear:both;
	float:left;
	width:100%;
	height: 50px;
}

@media (max-width: 730px) {
	.NavIcons {
		float: left;
		display: block;
	}
	.spacer {
		height: 100px;
	}
	.NavLinkContainer{
		display: block;
	}
}