.Projects {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    background: inherit;
    margin: auto;
}

@media(hover:none){
    .Projects{
        padding-bottom: 60px;
    }
}
