.NavItem {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavItem:hover{
    background-color: white;
    color:black;
}