body {
	margin:0;
	height: 100%;
	max-height: 100%;
	display: flex;
	background: url("./assets/Background_02.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* .App{
	position: relative;
	text-align: center;
}

.page {
	position: absolute;
} */

/* .appear,
.enter {
    opacity: 0;
    z-index: 1;
}
.appearActive,
.enter.enterActive {
    opacity: 1;
    transition: opacity 3000ms linear 150ms;
}

.exit {
    opacity: 1;
}

.exit.exitActive {
    opacity: 0;
    transition: opacity 1500ms linear;
} */






.exitActive {
	animation-name: shrinkToNavBar;
	animation-duration: .5s;
}

@keyframes shrinkToNavBar {
	0%{

	}

	100%{
		height: 50px;
	}
}
