.AboutMe{
    color: black;
    font-size: 1.5em;
    background: inherit;
    text-align: left;
    display: block;
    flex-direction: row;
    margin: auto;
    /* padding:20px; */
    width:95%;
}
.imageContainer{
    width: 60%;
    object-fit: fill;
    min-width:300px;
    /* display: block; */
    margin: auto;
}
.slides{
    /* display: none; */
    width:100%;
}

/* img{
    display: inline-block;
    width:100%;
} */
p{
    margin:10px;
}